<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h6><strong>Company</strong></h6>
        <li><a href="/about">About</a></li>
        <li><a href="/team">Meet the Team</a></li>
        <li><a href="/press">Press</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </div>
      <div class="col-sm-2">
        <h6><strong>How it works</strong></h6>
        <li><a href="/sell">Sell Receivables</a></li>
        <li><a href="/buy">Buy Receivables</a></li>
        <li><a href="/regulationa">Regulation A</a></li>
      </div>
      <div class="col-sm-2">
        <h6><strong>Learn</strong></h6>
        <li><a href="/factoring101">Factoring 101</a></li>
        <li><a href="/crowdfunding">Equity Crowdfunding</a></li>
        <li><a href="/whitepapers">Whitepapers</a></li>
        <li><a href="/blog">Blog</a></li>
      </div>
      <div class="col-sm-2">
        <h6><strong>Join</strong></h6>
        <li><a href="/buy">Investors Buy</a></li>
        <li><%= link_to 'Entrepreneurs Sell', sell_path %></li>
      </div>
      <div class="col-sm-2">
        <h6><strong>Legalese</strong></h6>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/legaldocs">Legal Docs</a></li>
      </div>
      <div class="col-sm-2">
        <h6><strong>Social</strong></h6>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Instagram</a></li>
      </div>
    </div>
    <br>
    <br>
    <div>
      &copy; 2017 Burgeon Marketplace, Inc. All rights reserved
    </div>
  </div>
</footer>
