<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'wefactoryou',root_path, :class => "navbar-brand" %>
    </div>

  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HOW IT WORKS</a>
        <ul class="dropdown-menu">
          <li><a href="/sell">Sell invoices</a></li>
          <li><a href="/buy">Invest in us</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INDUSTRIES WE SERVE</a>
        <ul class="dropdown-menu">
          <li><a href="/infrastructure">Infrastructure</a></li>
          <li><a href="/defensecontracts">Defense Contracts</a></li>
          <li><a href="/importexport">Import/Export</a></li>
          <li><a href="/agriculture">Agriculture</a></li>
          <li><a href="/construction">Construction</a></li>
          <li><a href="/textile">Textile</a></li>
          <li><a href="/startups">Startups</a></li>
        </ul>
      </li>
      <li><a href="/about">ABOUT US</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-button"><%= link_to 'Apply Now', root_path, :class => "btn btn-nav" %></li>
    </ul>
  </div>
  </div>
</nav>